body{
    background: radial-gradient(circle, #fff, #bbb);
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "footer footer footer";
    height: 100vh;
    border: 3px solid #000;
    grid-template-rows: repeat(auto-fill, 1fr);
}
.grid-item{
    padding: 30px;
}

.grid-header{

background-color: orange;
grid-area: header;
}

.grid-header:active{

    background-color: rgb(255, 154, 154);
    grid-area: header;
    }
.grid-main{
background-color: royalblue;
grid-area: main;
}
.grid-aside{
background: red;
grid-area:aside ;
}

.grid-footer{
    background-color: green;
grid-area: footer;
}
ul li{
   
    padding: 20px;
    margin: 10px;
}
.image{
    
    height: 100px;
    width: 100px;
  
    position: relative;
    animation-name: movimiento;
    animation-duration:.6s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
}
@keyframes movimiento{
    from {
        position: relative;
        top: 0%;
    }
to {
top: 20%;
}
}