*{
    font-weight: 100;
}
body{
    background: #000;
}


.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #222;
    margin: 50px  auto;
    border:8px solid #000;
    outline: 4px solid rgb(255, 238, 0);
    max-width: 1000px;
  
 
    
}
.form{
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 40px;
    order: 5;
}
.form__input{
    width: 95%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom:3px solid rgb(255, 238, 0);
    background: transparent;
    color: #fff;
    order: 2;
}
.form__input:focus{
    background:linear-gradient(to bottom,transparent,#222);
    outline: none;
    border-bottom:3px solid rgba(0, 0, 0, 0.6) ;

}
.form textarea{
    min-height: 100px;
    resize: none;
}
.form__img {
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 300px;
    max-width: 400px;
order: 1;
}
.form__img img{
    width: 60%;
    margin: auto;
  

}
.form__input[type="submit"]{
    background-color: rgb(255, 238, 0);
    border-bottom: none;
    padding: 12px ;
    color: #000;
    
}
.form__input[type="submit"]:hover{
    background-color: rgba(255, 238, 0, 0.76);
    border-bottom: none;
    padding: 12px;
}
.form__input[type="submit"]:active
{
    background:linear-gradient(to bottom,rgb(170, 168, 17),rgb(119, 117, 0));
}